<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.om.user.project" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_SMS"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/thundercats"
        android:label="Login manager"
        android:theme="@style/AppTheme" >
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1667563430157493"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyApplication"
            android:label="@string/title_activity_my_application" >

        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".TestFbShareActivity"
            android:label="@string/title_activity_test_fb_share" >
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/title_activity_camera" >
        </activity>
        <activity
            android:name=".FbTestActivity"
            android:label="@string/title_activity_fb_test" >

        </activity>
        <activity
            android:name=".Capture"
            android:label="@string/title_activity_capture" >

        </activity>
        <activity
            android:name="prakash.location.user.LocationActivity"
            android:label="@string/title_activity_location" >

        </activity>
    </application>

</manifest>
